* {
  font-family: "Raleway", sans-serif;
  background-color: black;
  margin: 0;
}

header {
  background-color: black;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 300;
  padding: 0.3em 0 0.3em 0;
}

h2 {
  font-weight: 300;
  background-color: transparent;
}

p {
  font-weight: 200;
  background-color: transparent;
}

i {
  background-color: transparent;
  padding-bottom: 0.5em;
}

.big-image {
  margin: 0;
  width: -webkit-fill-available;
}

.description-section {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 4em 9em;
  gap: 6em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.description-section > div {
  display: flex;
  flex: 1;
  justify-content: center;
}

.description-image {
  height: 237px;
  width: 399px;
}

.characteristics-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1a13;
  color: #ffffff;
  padding: 3em 0em 3em 0em;
}

.characteristics {
  display: flex;
}

.characteristics > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1a13;
  padding: 2em;
}

.galery-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: black;
  padding: 4em 0em;
  gap: 2em;
}

.galery-section > img {
  height: 12em;
}

footer {
  background-color: #1e1a13;
  color: #ffffff;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
